.search {
    -webkit-appearance: none;
    border: none;
    background-color: #95dada;
    border: 3px solid grey;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  